.section {
  padding: 2rem 0 2rem;
  margin-top: 2rem;

}

.section_title {
  color: var(--title-color);
  margin-bottom: 1rem;
  padding-bottom: 16px;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.75rem;
}

.section_title h1 {
  text-align: center;
  color: var(--secondary);
}

.section_title h1 span {
  color: #3498db;
}

.grid {
  display: grid;
  gap: 0.5rem;
}

.timeline {
  background-color: var(--container-color);
  padding: 1.875rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  /* margin-top: 1.5rem; */
}

.timeline_item {
  position: relative;
  padding-left: 3.125rem;
  padding-bottom: 3.125rem;

}

.timeline_item:last-child {
  padding-bottom: 0;
}

.timeline_item::before {
  content: " ";
  width: 5px;
  border-radius: 0.375rem;
  height: 100%;
  background-color: #3498db;
  position: absolute;
  left: .25rem;
  top: 0;
}

.timeline_item i {
  position: absolute;
  left: -0.4375rem;
  top: -25px;
  font-size: 1.30rem;
  padding: 0.4375rem 0;
}

.timeline_date {
  font: 15px/24px 'opensans-regular', sans-serif;
  color: #6E7881;
  font-size: 0.875rem;
}

.timeline_title {
  font: 25px/30px 'opensans-bold', sans-serif;
  font-weight: 900;
  color: var(--secondary);
}

.timeline_text {
  font-weight: 900;
  font-size: 1.25rem;
  font: 'librebaskerville-italic', serif;
  color: #6E7881;
}


/* RESPONSIVE PART  */
@media screen and (max-width: 992px) {
  .resume_container {
    justify-content: center;
    row-gap: 1.875rem;
  }

  .timeline_item::before {
    left: 2px;
  }

  .section_title {
    width: 60%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

}

@media screen and (max-width: 576px) {
  .resume_container {
    grid-template-columns: 1fr;
  }

  .section_title {
    width: 100%;
  }

  .section {
    margin-top: 5rem;
  }

  .ani {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .resume_container {
    grid-template-columns: 1fr;
  }
  .section {
    margin-top: 13rem;
  }
  .timeline_title {
    font: 20px/25px 'opensans-bold', sans-serif;
    font-weight: 700;
  }
}

@media screen and (max-width: 330px) {
  .section {
    margin-top: 16rem;
  }
}