.profile-container {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     min-height: fit-content;

}

.b {
     display: inline-block;
}

.profile-parent {
     display: flex;
     margin-top: 25px;
     align-items: center;
     color: aliceblue;
}

.profile-details-name {
     font-size: 24px;
     font-family: "Poppins SemiBold";
}

.profile-details-role {
     display: flex;
     flex-direction: column;
     margin: 14px 0 24px 0;
}

.profile-details-role h1 {
     font-size: 40px;
     font-family: cursive;
}

.primary-text {
     color: var(--white);
}

.highlighted-text {
     display: block;
     color: var(--dark-orange);

}

.profile-role-tagline {
     font-size: 19px;
     margin: 5px 0 0 0;
     font-family: "Poppins Light";
}

.profile-option .highlighted-btn {
     margin: 0 0 0 20px;
}

.profile-option .highlighted-btn:hover {
     margin: 0 0 0 20px;
     background-color: cornsilk;
     color: #111;
}

.profile-picture {
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0 1px 0 0 var(--white);
     border-radius: 50%;
     height: 360px;
     width: 360px;
     margin: 0 0px 0 100px;
}

.profile-picture-background {
     height: 92%;
     width: 92%;
     background-image: url(../assets/Home/ayan7.jpg);
     background-size: cover;
     border-radius: 50%;
     background-repeat: no-repeat;
     background-position: center;

}

.profile-picture-background:hover {
     transform: scale(1.07);
     transition: 1s ease-out;
}

.colz .colz-icon {
     margin-bottom: 20px;
}

.colz .colz-icon i {
     font-size: 2rem;
     color: white;
     margin: 1rem;
}

.colz .colz-icon .bi-facebook:hover {
     color: #3b5998;
     transition: 0.4s;
}

.colz .colz-icon .bi-instagram:hover {
     color: #bc2a8d;
     transition: 0.4s;
}


.colz .colz-icon .bi-github:hover {
     color: #171515;
     transition: 0.4s;
}

.colz .colz-icon .bi-linkedin:hover {
     color: #0A66C2;
     transition: 0.4s;
}

.profile-role-tagline {
     display: block;
     margin-top: 20px;
     font-size: 1.6rem;
     font-style: italic;
     font-weight: 800;
     letter-spacing: 2px;
}

@media screen and (max-width: 1110px) {
     .profile-picture {
          margin: 0 0px 0 90px;
     }

     .profile-details-name {
          font-size: 20px;
     }

     .profile-details-role .primary-text h1 {
          font-size: 30px;
     }

     .profile-option .btn {
          width: 120px;
          padding: 11px 0;
          z-index: 1;
     }
}

@media screen and (max-width: 910px) {
     .profile-picture {
          height: 320px;
          width: 320px;
          margin: 0 0 0 30px;
     }
}

@media screen and (max-width: 810px) {
     .profile-picture {
          margin: 0 !important;
          height: 340px;
          width: 340px;
     }

     .profile-parent {
          flex-direction: column-reverse;
          margin: 100px 0 0 0;
     }

     .profile-details-role .primary-text h1 {
          font-size: 25px;
     }

     .profile-option {
          display: flex;
          justify-content: space-between;
     }

     .profile-details {
          margin: 25px 0 0;
     }

     .profile-option .highlighted-btn {
          margin: 0 !important;

     }

     .profile-option,
     .profile-details-role {
          text-align: center;
     }

     .navbar {
          height: 60px;
     }

}

@media screen and (max-width: 415px) {
     .profile-picture {
          height: 240px;
          width: 240px;
          margin-top: -90px;
     }

     .profile-details {
          width: 90%;
     }

     .colz .colz-icon i {
          font-size: 20px;
     }

     .profile-details-name .highlighted-text {
          display: block;
     }

     .profile-role-tagline {
          font-size: 1rem;
     }

     .navbar {
          height: 60px;
     }



}